.product-box{
    width: 100%;
    
    background-color: rgba(255, 255, 255);
}

body{
     
    height: 100vh;
    overflow:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#profile-tab{
    font-family: 'Dosis', sans-serif;
}
nav{
    padding-right:0!important;
    padding-left:0!important; 
    background-color: rgba(2, 0, 0, 0)!important;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

#main_container{
    background-color: rgba(250, 250, 250, 0);
    
}
#like_btn {

 }


 #container-post p{
     font-size: 1rem;
     margin-bottom: 0!important;
 }
 #container-post h5{
    font-size: 1.25rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {




}

.container-visible{
    visibility: visible;
}