{% extends "layout.html" %}
{% block content %}


    
<div class="container-fluid">
    <div class="row ">
        
        <div class="col-4"></div>
        <div class="col-4" style="padding-top: 10rem;">

<form class = "loginForm  shadow-lg p-3 mb-5  rounded border border-success"   method="POST">
    {{ form.hidden_tag() }}
   
  <div class="form-row">
    <div class="form-group col-12">
      <label for="inputEmail4">Email</label>
      {{ form.email(class="form-control", placeholder='Email') }}
      
      {% if form.email.errors %}
          

              {% for error in form.email.errors %}
              <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
              {% endfor %}

          
      {% endif%}
    </div>
    
  </div>   
  
 

 

  
  
  <button type="submit" class="btn btn-success btn-block">Send link</button>
</form>

    </div>
    <div class="col-4"></div>
    </div>


</div>


   


{% endblock %}

