{% extends "layout.html" %}
{% block content %}   
<form class="loginForm" style="margin:2rem;padding:1rem;border-radius: 5px;" enctype="multipart/form-data"  method="POST">
<div class="row">
    <!-- <div class="col-4">
        <img width="500px" height="500px" src="{{url_for('static', filename= '/images/products/ProductDefault.jpg' )}}" alt="..." class="img-thumbnail">
    </div> -->
    <div class="col-12">
        
            {{ form.hidden_tag() }}
                    <!-- TITLE -->
                    
                        <div class="form-row">
                                <div class="form-group col-12   ">
                                
                                {{ form.productname.label }}
                                {{ form.productname(class="form-control form-control-sm ", placeholder='Product Name') }}             
                        
                                </div>
                                
                        </div>
                
        
                    <div class="form-row">
                        <div class="form-group col-2 px-1 " style="margin-bottom: 0rem!important;">
                            <label for="inputPassword4">Category</label>
                            
                            {{ form.category(class="form-control form-control-sm  custom-select", placeholder='Category') }}
                            
                        </div>

                        <div class="form-group col-2 " style="margin-bottom: 0rem!important;">
                            <label for="inputPassword4">Price</label>
                            
                            {{ form.price(class="form-control form-control-sm ", placeholder='Price') }}
                            {% if form.price.errors %}
                            {% for error in form.price.errors %}
                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{ error }} </small>
                            {% endfor %}                          
                            {% endif %}  
                        </div>
            
                       
      

                        <div class="form-group col-2" style="margin-bottom: 0rem!important;">
                            <label for="inputPassword4">Quantity</label>
                            
                            {{ form.quantity(class="form-control form-control-sm ", placeholder='Quantity') }}
                            {% if form.quantity.errors %}
                            {% for error in form.quantity.errors %}
                            <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{ error }} </small>
                            {% endfor %}                          
                            {% endif %} 
                        </div>  
                        <div class="form-group col-6 "style="margin-bottom: 0rem!important;">
                            <label >Product Price Key</label>
                            {{ form.product_price_key(class="form-control form-control-sm ",placeholder='Product Price Key') }}
                        </div>
                     
                    </div> 
                    
                    

                    <!-- DESCRIPTION -->
                    <div class="form-row">
                        <div class="form-group col-12 "style="margin-bottom: 0rem!important;">
                        <label >Description</label>
                        {{ form.description(class="form-control form-control-sm ",placeholder='Description') }}
                        </div>
                    </div>
                    <div class="form-check py-3">
    
                        {{ form.premium(class="form-check-label", placeholder='Premium') }}
                        <label class="form-check-label" for="exampleCheck1">Premium</label>
                        {% if form.premium.errors %}
                                                    {% for error in form.premium.errors %}
                                                    <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{ error }} </small>
                                                    {% endfor %}                          
                         {% endif %}  
                      
                      
                      </div>
                      <div class="form-check py-3">
    
                        {{ form.active(class="form-check-label", placeholder='Premium') }}
                        <label class="form-check-label" for="exampleCheck1">Active</label>
                        {% if form.active.errors %}
                                                    {% for error in form.active.errors %}
                                                    <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{ error }} </small>
                                                    {% endfor %}                          
                         {% endif %}  
                      
                      
                      </div>
                    <!-- DETAILS -->
                    <div class="form-row">
                        <div class="form-group col-12" style="margin-bottom: 0rem!important;">
                        <label >Details</label>
                        {{ form.details(class="form-control form-control-sm ",placeholder='Details') }}
                        </div>
                    </div> 
                    <!-- FILE                  -->
                    <div class="form-group col-6 " >

                        {{ form.picture.label()}}

                        {{ form.picture(class="form-control-file")}}

                        {% if form.picture.errors %}
                            {% for error in form.picture.errors  %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}

                        {% endif %}

                    </div>
                    
        
                    <button type="submit" class="btn btn-success btn-block" value="Submit">Save changes</button>
                    <a class="btn btn-danger btn-block my-2" href="{{ url_for('home') }}">Back</a>
                    


    </div>
</div>

</form>            
                

{% endblock %}

