{% extends "layout.html" %}
{% block content %}


<div class="container">

  {% for product in Products %}



  
  <div class="box" style="max-width: 15rem;">
    <span></span>
    
    <div class="content ">
                
                <div class="container-fluid d-flex" >
                          <h5>
                            {{ product.productname }} 
                          </h5>
                          {% if current_user.email == 'alessiogiovannini@hotmail.it' %}
                          <div class="float-right" style="width: 100%;text-align: right;">
                            <a href="{{ url_for('edit_product',id=product.id )}}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg>


                            </a>
                           
                          </div>
                          {% endif %}

                </div>

                <div class="container-fluid border border-3 border-white">
                      <img src="{{url_for('static', filename= '/images/products/' + product.image1 )}}" class="" id="product-img" alt="...">
                  </div>


                  <div class="row my-2  text-nowrap">

                        <div class="col-4 p-0 border-bottom border-white">
                            CBD %
                        </div>
                        <div class="col-8 s pr-0 border border-white p-0">
                              <div class="progress-bar bg-success text-white font-weight-light" style="width: {{ product.cbd * 5}}%" role="progressbar" aria-valuenow="{{ product.thc }}" aria-valuemin="0" aria-valuemax="20">
                                <h7 class = "px-2">{{ product.cbd }}%
                                </h7>

                              </div>

                        </div>
                  </div>


                    <div class="row my-2  text-nowrap">

                        <div class="col-4 p-0 border-bottom border-white">
                            THC %
                        </div>
                        <div class="col-8 s pr-0 border border-white p-0">
                                <div class="progress-bar bg-success text-white font-weight-light" style="width: {{ product.thc * 5}}%" role="progressbar" aria-valuenow="{{ product.thc }}" aria-valuemin="0" aria-valuemax="20">
                                  <h7 class = "px-2">{{ product.thc }}%
                                  </h7>

                                </div>

                        </div>    
                    </div> 

                    <div class="row my-2 text-nowrap">

                          <div class="col-4 p-0 border-bottom border-white">
                              PLN
                          </div>
                          <div class="col-8 s pr-0 border border-white p-0">
                                  <div class="progress-bar bg-success text-white font-weight-light" style="width: {{ product.thc * 5}}%" role="progressbar" aria-valuenow="{{ product.thc }}" aria-valuemin="0" aria-valuemax="20">
                                        <h7 class = "px-2">{{ product.price }}
                                        </h7>
                                  </div>

                          </div>  

                    </div>  
                        <div class="row">
                                <a href="{{url_for('product', id = product.id) }}" class="mt-1 w-100 text-center lineHeight-2">
                                  View More!
                                </a>
                        </div>
      </div>
      </div>
                






  {% endfor %}
  </div>
    
{% endblock %}