<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ flask_util_js.js }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + google_maps_api_key + "&libraries=places"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/homeStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/loginStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/productstyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/main_style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/adminstyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style.css')}}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{{url_for('static',filename='JS/Script.js')}}"></script>
    <title>PetLover</title>
  
      
  </head>
    <body style="background-color:white" class=''>
 
    <nav class="navbar navbar-expand-lg bg-light navbar-light   py-1   d-flex justify-content-center"  style='height: auto;'>
  
      <button class="navbar-toggler" style= "background-color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item active px-2 py-2 ">
              
            <a role="button" href="{{ url_for('home') }}" class="nav-link active text-center ">Home</a>
                 
          </li>

          
          
              

              <li class="nav-item px-2 py-2">
                <a role="button" href="{{ url_for('add_post') }}" class="nav-link active text-center ">New post</a>
                 
              </li>

              {% if current_user.email == 'alessiogiovannini@hotmail.it' %}
              <li class="nav-item px-2 py-2">
                <a role="button" href="{{ url_for('admin') }}" class="nav-link active text-center ">Admin</a>
                
               
            </li>
          {% endif  %}  
              {% if current_user.is_authenticated  %}

                      <li class="nav-item px-2 py-2">
                        <a role="button" href="{{url_for('profile', id = current_user.id) }}" class="nav-link active text-center ">Profile</a>
                         
                      </li>
                      <li class="nav-item px-2 py-2">
                        <a role="button" href="{{url_for('logout') }}" class="nav-link active text-center" >Sign out</a>
                    </li>
          {% else  %}  
                      <li class="nav-item px-2 py-2">
                          <a role="button" href="{{url_for('login',prevUrl = request.url_rule) }}" onclick="LoginForm()"class="nav-link active  text-center">Login</a>
                          <!-- <a role="button" href="#" onclick="LoginForm()" class="nav-link active text-white text-center">Login</a> -->
                          
                      </li>
                      
                      <li class="nav-item px-2 py-2">
                          <a role="button" href="{{url_for('register') }}" class="nav-link active  text-center">Sign Up</a>
                      </li>

          {% endif  %}  

        </ul>
        

        
      </div>
    
    </nav>

    <div  id='intro-container'>
      <div id="intro-text-container">

        <h3>Keep your money and you'll save one dog! </h3>

        <h1>Look for your best friend in your city </h1>
        <div class="container-fluid">
          <input type="text" placeholder="Type your city here...">
        </div>
        
        <button>Go!</button>
        
      </div>
      



    </div>
 

   
    
    
    
    
    
          <!-- MESSAGES FROM ROUTES -->
{% with messages = get_flashed_messages(category_filter=["success"]) %}

    {% if messages %}

            {% for msg in  messages %}
            
            <div class="alert alert-success mb-3 w-100" id = "flashMsg" style="text-align: center;">{{msg}}</div>
            {% endfor %}
            
    {% endif %}

{% endwith %}


{% with messages = get_flashed_messages(category_filter=["error"]) %}

    {% if messages %}

            {% for msg in  messages %}
            
            <div class="alert alert-danger mb-3 w-100" style="text-align: center;">{{msg}}</div>
            {% endfor %}
            
    {% endif %}

{% endwith %}

<!-- END MESSAGES FROM ROUTES -->

  




<div class="row d-flex justify-content-center px-2">

  <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div> -->
  <div id ="main_container" class="col-12 py-5  px-2 my-3 main-content-container" >        
        {% block content %}
  
  
  
  
        {% endblock %}
      </div>

        <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1" ></div> -->
          
    </div>
    
  
  
  
  
  
  
  
  
  </body>

<footer>
<div class="row justify-content-center fixed-bottom bg-white border border-top py-1">
<div class="col-8 text-center">
  <p>Author:   Alessio GIovannini <br>+ 48 692 599 433<br> Alessiogiovannini@hotmail.it </p>
</div>


</div>

</footer>

</html>




