{% extends "layout.html" %}
{% block content %}

<div class="container-fluid ">

    <div  id='intro-container'>
        <div id="intro-text-container">
  
          <h3>Keep your money and you'll save one dog! </h3>
  
          <h1>Look for your best friend in your city </h1>
          <div class="container-fluid">
            <input type="text" placeholder="Type your city here...">
          </div>
          
          <button>Go!</button>
          
        </div>
        
  
  
  
      </div>


<!-- <form method="POST" class=''>
    {{ form.hidden_tag() }}
    <div class="form-row ">
        <div class="form-group col-6 col-sm-3  ">
            <label for="inputPassword4  ">What?</label>
            
            {{ form.category(class="form-control w-100 ", placeholder='Category') }}
        </div>  

        <div class="form-group col-6 col-sm-3 ">
            <label for="inputPassword4  ">Location</label>
            
            {{ form.location(class="form-control w-100 ",id="locationTextField", placeholder='Location') }}

            

                    <script>
                      function init() {
                        var options = {
                        types: ['(cities)'],
                        };
                         var input = document.getElementById('locationTextField');
                         var autocomplete = new google.maps.places.Autocomplete(input,options);
                      }
                    google.maps.event.addDomListener(window, 'load', init);
                    </script>
                  
        </div>  
        <div class="form-group col-6 col-6 col-sm-3 d-flex flex-column-reverse">
           
            
            {{ form.submit(class="form-control   btn-outline-success ", placeholder='Search') }}
        </div> 
        <div class="form-group col-6 col-6 col-sm-3 d-flex flex-column-reverse">
            
            <a href="{{ url_for('home') }}" class=" form-control   btn-outline-danger text-center " role="button" aria-disabled="true">Clear</a>
            
        </div> 
        

    
    </div>

</form> -->




</div>
<div class="container text-center py-5">
    <h1>Find your dog here! He's waiting for you!</h1>
</div>

<div class="row py-2  px-0">

    
    {% for post in posts %}
    
    
            <div class="container-box col-12 col-sm-6 col-md-6 col-xl-3 col-lg-3  p-0 p-xs-2 p-sm-4">
                <div id='container-post' class='py-1 border'>
                
                    <div class="product-box   text-center " id="product-container "  >
                        
                        <!-- <h5 class="font-weight-bold my-1 text-dark">{{ post.title }}</h5> -->
                        <div class="box-picture position-relative">
                            <a class="btn transparent  btn-lg  " style="padding: 0!important" role="button"  href="{{url_for('post', id = post.id) }}">
                                <img class="product-image img-fluid  " src="{{url_for('static', filename= '/images/products/' + post.picture )}}" alt="">
                             </a>
                            
                        </div>


                        <!-- <div class="box-header w-100 py-2 px-2 justify-content-end d-flex">
                            

                            <div id='like_btn' class="d-inline-flex">
                                {% if current_user.is_authenticated %}

                                                        {% if current_user.has_liked_post(post) %}
                                                        
                                                            <a  href="{{ url_for('like_post',id=post.id, action='unlike' ) }}" >
                                                                <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                                </svg>
                                                            </a>
                                                        
                                                        {% else %}
                                                            <a  href="{{ url_for('like_post',id=post.id, action='like' ) }}">   
                                                                <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                                </svg>
                                                            </a>
                                                        {% endif %}


                                            {% else  %}
                                                            
                                            <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>

                                            

                                            {% endif %}

                            </div>
                        </div> -->
                        



                        <div class="box-header w-100 text-center  d-flex justify-content-between px-2 py-2">
                           
                            <small>
                                <p class="font-weight-bold my-1 text-dark">{{ post.location }}</p>
                            </small>
                            <div id='like_btn' class="d-inline-flex">
                                {% if current_user.is_authenticated %}

                                                        {% if current_user.has_liked_post(post) %}
                                                        
                                                            <a  href="{{ url_for('like_post',id=post.id, action='unlike' ) }}" >
                                                                <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                                </svg>
                                                            </a>
                                                        
                                                        {% else %}
                                                            <a  href="{{ url_for('like_post',id=post.id, action='like' ) }}">   
                                                                <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                                </svg>
                                                            </a>
                                                        {% endif %}


                                            {% else  %}
                                                            
                                            <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>

                                            

                                            {% endif %}

                            </div>

                        </div>


                     

                            
                      
                        
                    </div>
               
            </div>
            </div>
  
    {% endfor %}

</div>
<script>


</script>



{% endblock %}