{% extends "layout.html" %}
{% block content %}


    
<div class="container-fluid">

    <div class="container-fluid">
        <h1>Payment Completed!</h1>
    </div>

    <div class="container-fluid">
        <table class="table bg-light">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Customer</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Session ID</th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    
                    <td>{{ order.customerID }}</td>
                    <td>{{ order.productID }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.total_price }} PLN</td>
                    <td>{{ order.stripe_session_id }} PLN</td>
                  </tr>
                {% endfor %}
              
              
            </tbody>
            <thead class="bg-success">
                <tr class="table-success">
                  
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Total</th>
                  <th scope="col">{{ orders.sum }} PLN</th>
                </tr>
              </thead>
          </table>
    </div>



</div>

   


{% endblock %}

