{% extends "layout.html" %}
{% block content %}



  <div class="row">
      <div class="col-4 justify-content-center">
        <img src="{{ url_for('static',filename='/images/products/' + user.picture )}}" class="img-fluid text-center"  >
      </div>

      <div class="col-8 ">
        <h5 class=" py-1 font-weight-bold">{{ user.firstname }}  {{ user.lastname }}</h5>
      </div>
  </div>

  <h1 class='text-center py-3 border-bottom border-black'>My posts!</h1> 
<div class="row">



    {% for post in posts %}
    <div class="container-box col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 px-0" >
        <div id='container-post'>
       
            <div class="product-box   border " id="product-container"  >
           
                <div class="box-picture position-relative">
                    <a class="btn transparent  btn-lg  " style="padding: 0!important" role="button"  href="{{url_for('post', id = post.id) }}"> 
                        <img class="product-image img-fluid  " src="{{url_for('static', filename= '/images/products/' + post.picture )}}" alt="">
                    </a>

                    
                </div>


              
                <div class="box-header w-100 py-2 px-2 justify-content-between d-flex">
                    <h5 class="font-weight-light my-1 text-dark">{{ post.title }}</h5>
                    <div id='like_btn' class="d-inline-flex">
                        {% if current_user.is_authenticated %}

                            {% if current_user.has_liked_post(post) %}
                            
                                <a  href="{{ url_for('like_post',id=post.id, action='unlike' ) }}">
                                    <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    </a>
                            
                            {% else %}
                                <a  href="{{ url_for('like_post',id=post.id, action='like' ) }}">   
                                    <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </a>
                            {% endif %}


                {% else  %}
                                
                <small style="color: black;" class="m-1">{{ post.likes.count() }}</small>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: red"fill="currentColor" class="bi bi-heart-fill " viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>

                

                {% endif %}

                    </div>
                </div>

            </div>
    
    </div>
    </div>

    {% endfor %}


      
</div>


{% endblock %}

