{% extends "layout.html" %}
{% block content %}


    
<div class="container-fluid">
    <div class="row ">
        
        <div class="col-4"></div>
        <div class="col-4" style="padding-top: 10rem;">

<form class = "loginForm border-dark shadow-lg p-3 mb-5 bg-white rounded" style="background-color: white;opacity: 0.9;padding:2rem;border-radius: 25px;"  method="POST">
    {{ form.hidden_tag() }}
   

  
  <div class="form-row">
    <div class="form-group col-12">
        <label for="inputPassword4">Password</label>
        
        {{ form.password(class="form-control w-100 ", placeholder='Password') }}
        {% if form.password.errors %}
          

              {% for error in form.password.errors %}
              <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
              {% endfor %}

          
      {% endif%}
    </div>  

  </div> 
 

  <div class="form-row">
    <div class="form-group col-12">
        <label for="inputPassword4">Confirm Password</label>
        
        {{ form.confirm_password(class="form-control w-100 ", placeholder='Confirm Password') }}
        {% if form.confirm_password.errors %}
          

              {% for error in form.confirm_password.errors %}
              <small id="passwordHelp" class="text-danger"><strong>Error: </strong>{{error}} </small>
              {% endfor %}

          
      {% endif%}
    </div>  

  </div> 



  
  <button type="submit" class="btn btn-success btn-block my-2">Reset Password!</button>
</form>

    </div>
    <div class="col-4"></div>
    </div>


</div>


   


{% endblock %}

